.notice-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: (get-zindex(apex) + 100);
    padding: size(sm);
    pointer-events: all;
    display: flex;
    flex-direction: column;
    will-change: opacity;
    transition: opacity 500ms ease-out, visibility 500ms ease-out;
    background: linear-gradient(hsla(0,0%,97%,0), hsla(0, 0%, 0%, 0.27));
}

.notice-container .notice {
    border: 0;
    will-change: opacity, transform;
    animation: notice_animate 650ms ease-out forwards;
}

@include breakpoint('min', 760px) {
    .notice-container .notice {
        max-width: 20em;
    }
}

@keyframes notice_animate {
    0% {
        transform: translateY(1em);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

/**
 * Interactive states
 */

.notice-container--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
